.about-us {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  
    .intro-section, .mission-section, .values-section {
      margin-bottom: 70px;
      margin-top: 20px;
  
      h1, h2 {
        color: #fcf8f8;
        margin-bottom: 10px;
        text-align: center;
      }
  
      p, li {
        color: #ffffff;
        font-size: 1rem;
        text-align: center;
      }
    }
  
    .values-section {
      ul {
        list-style-type: none;
       
        
        li {
          margin-bottom: 30px;
        }
      }
    }
  }
  