/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/images/home-page/926968.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    max-height: 100%;
    overflow: hidden;
    color: #333;
  } 
